/* default settngs for page */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: #fafafa;
    font-family:Helvetica, sans-serif ;
}

/* main section */
.main-body{
    display: flex;
    padding-top: 25px;
}

/* left section with iphone */
.left {
    padding-left: 519px;
    padding-top: 20px;
}

.screen{
    position:absolute;
    top: 141px;
    left: 666px;
}
.screen img{
    width: 247px;
}

/* right section with login form  */
.right{
    background-color: #fff;
    height: 415px;
    border: 1px solid;
    border-color:rgb(128, 128, 128,0.3) ;
    margin-left: -13px;
    margin-top: 53px;
    width: 331px;
}

.login-form{
    padding: 4px;
    

}

.logo{
   padding-left: 60px;
   padding-top: 32px;


}

.form{
    padding-left: 20px;
    padding-top: 20px;
}
.input-field{
    width: 279px;
    height: 30px;
    margin-top: 10px;
    border: 0.5px solid;
    border-color:rgb(128, 128, 128,0.3) ;
}

/* login button section */
.button{
    margin-top: 10px;
    width: 279px;
    height: 30px;
    background-color: #3897f0;
    border-radius: 5px;
    border: 1px solid;
    border-color: aliceblue;
}

.or{
    text-align: center;
    color: rgb(128, 128, 128,1);
    margin-top: 20px;
    font-size: small;
  
}

/* login with facebook and forgott button */
.fb{
    color: black;
    margin-top: 28px;
    text-align: center;
}
.fb p{
    
    margin-top: 30px;
    font-size: 14px;
    color:blue;
}
.fb p a{
   color: #3897f0;
    text-decoration: none;
    font-size: small;
}

/* lower section of the input page */
.lower-part{
    margin-left: -13px;
    margin-top: 13px;
    width: 332px;
    height: 60px;
    border: 1px solid;
    border-color:rgb(128, 128, 128,0.3) ;
    text-align: center;
    background-color: #fff;
   
    

}
.lower-part p{
    margin-top: 20px;
    font-size: 14px; 
}
.lower-part p a{
    
    text-decoration: none;
    color: #3897f0;
    font-size: medium;
}

/* app store and playstore part */
.appstore{
    text-align: center;
    margin-top: 15px;
}
#play{
    width: 130px;
    margin-top: 15px;
}
#app{
    width: 130px;
}


/* responsiveness */

@media only screen and (max-width: 1614px) {

    .left{
        display: none;
    }
    .main-body{
        justify-content: center;
        align-items: center;
    }

}
